@font-face {
       font-family: 'Whyte Inktrap Super';
              src: url('WhyteInktrap-Super.woff2') format('woff2'),
              url('WhyteInktrap-Super.woff') format('woff'),
              url('WhyteInktrap-Super.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
   }
