@font-face {
    font-family: 'Whyte Inktrap Super';
    src: url('./typeface/WhyteInktrap-Super.woff2') format('woff2'),
           url('./typeface/WhyteInktrap-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }