/* Reset default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
}

/* The emerging W3C standard that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: lightgray white;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}

/* Scrollbar styling */
*::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
    border: 3px solid white;
}

hr {
    background-color: whitesmoke;
}

/* Apply a modern font and some basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

/* Container styles */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Header styles */
.my-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #000;
}

/* Title styles */
#my-title {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.my-nav a {
    color: black;
}

.header {
	font-size: 1.5em;
}

/* Navigation icon styles */
.icons {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Search and dark mode icon styles */
.icons span {
    margin-left: 20px;
    cursor: pointer;
}

/* Main content styles */
main {
    padding: 20px 0;
}

.my-copyright {
    text-align: left;
    font-size: 1em;
    color: black;
}

/* Footer content layout */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left side of the footer */
.footer-content .left {
    text-align: left;
}

/* Right side of the footer */
.footer-content .right {
    text-align: right;
}

/* Footer icons */
.footer-content .right a {
    color: #000;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #fff;
}

/* Dark mode toggle when in dark mode */
.dark-mode .icons span {
    color: #fff; /* Icon color for dark mode */
}

/* Card styles */
.card {
    background-color: #fff; /* Default card background */
    color: #333; /* Default card text color */
}

/* Dark mode card styles */
.dark-mode .card {
    background-color: #333; /* Dark mode card background */
    color: #fff; /* Dark mode card text color */
}

.dark-mode .my-copyright {
	color: #fff;
}

/* Dark mode title */
.dark-mode #my-title {
    color: #fff; /* Title color for dark mode */
}

/* Dark mode nav */
.dark-mode .my-nav a {
	color: #fff;
}

.dark-mode .footer-content .right a {
	color: #fff;
}