body,
html {
    margin: 0;
    padding: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: lightgray white;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
    border: 3px solid white;
}

hr {
	background-color: whitesmoke;
}

.body {
	font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header styles */
.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #000;
}

#title {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navi a {
    color: black;
}

.header {
        font-size: 1.5em;
}

.icons {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Search and dark mode icon styles */
.icons span {
    margin-left: 20px;
    cursor: pointer;
}

/* Main content styles */
main {
    padding: 20px 0;
}

.my-copyright {
    text-align: left;
    font-size: 1em;
    color: black;
}

/* Footer content layout */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left side of the footer */
.footer-content .left {
    text-align: left;
}

/* Right side of the footer */
.footer-content .right {
    text-align: right;
}

/* Footer icons */
.footer-content .right a {
    color: #000;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #fff;
}

.dark-mode .icons span {
    color: #fff; /* Icon color for dark mode */
}

.dark-mode .my-copyright {
        color: #fff;
}

/* Dark mode title */
.dark-mode #title {
    color: #fff; /* Title color for dark mode */
}

/* Dark mode nav */
.dark-mode .navi a {
        color: #fff;
}

.dark-mode .footer-content .right a {
        color: #fff;
}

/* Grid and card styles */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.card {
  width: calc(50% - 10px); /* Adjust width based on desired columns */
  margin: 5px;
  box-sizing: border-box;
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}